/NetworkDriver.identcache
/NetworkDriver.res
/ProjectGroup1.groupproj
/ProjectGroup1.groupproj.local
/NetworkDriver.dproj.local
/FtpManager.res
/FtpManager.dproj.local
/FtpManager.identcache
/Win32
/__history
